
<div class="homeList">
    <h1 class="yourLists">Create New User</h1>
</div>
<div class='homeContainer'>
    <a class='home' href="/">Home</a> 
</div>


<div class='formTable'>
<form action='/users' method='POST'>
    <div class='formText'>First Name: <input type='text' name='firstName'></div>
    <div class="formText">Last Name: <input type='text' name='lastName'></div>
    <div><input type='submit' value='Create New User'></div>
</form>
</div>

<div class='footerContainer'>
    <footer class="footer">
        <p class="footerNote">Made with &hearts; by Lauren Hemingway</p>
    </footer>
</div>