<div class="homeList">
    <h1 class='yourLists' id='itemsNewList'>Add New Item to {{shoppingList.name}} List</h1>
</div>

<div class='homeContainer'>
    <a class='home' href="/">Home  |</a> 
    <a class='goBack' href='/users/{{user._id}}'>|  Go Back to Lists</a>
</div>

<form class='formTable' action='/users/{{user._id}}/lists/{{shoppingList._id}}/items' method='POST'>
    <div class='formText'>Item: <input type='text' name='name'></div>  <div class='formText'>Quantity: <input type='text' name='quantity'></div>
    <div><input type='submit' value='Create List Item'></div>
</form>