<nav class='landingNav'><h1 class='landingHeader'>Save<img src="https://i.imgur.com/GbRB0a6.jpg?1" alt='Tree'height='40' width="60">Trees</h1></nav>

<div class="container">
    <div class="subheader">
        <span class="h2Landing">Buying Groceries  </span>
        <div class="h6Landing">(...and other things)</div>
    </div>
</div>

<div class="paragraphContainer">
    <h1 class="aboutHeader">About</h1>
    <p class='paragraph'>Save Trees&trade; is a new way to jot down items on a list without wasting paper. This app allows you to create users, add lists for those users, and items to those lists. Everyone in the family can easily stay organized with this mobile-friendly app. So, next time you head to the store, leave your pen and paper at home! </p>
</div>

<div class='linkContainer'>
    <div class="whiteBox">
        <a class='link' href='/users'>Select From List of Users</a>
    </div>
    <div>
        <h1 id='or'>OR</h1>
    </div>
    <div class="whiteBox" id="smallerBox">
        <a class='link' href="/users/new">Create New User</a>
    </div>
</div>
<div class='footerContainer'>
<footer class="footer">
    <p class="footerNote">Made with &hearts; by Lauren Hemingway</p>
</footer>
</div>