<nav class='landingNav'><h1 class='landingHeader'>Save<img src="https://i.imgur.com/GbRB0a6.jpg?1" alt='Tree'height='40' width="60">Trees</h1></nav>

<div class="container">
    <div class="subheader">
        <span class="h2Landing">Buying Groceries  </span>
        <div class="h6Landing">(...and other things)</div>
    </div>
</div>


<div class='linkContainer'>
<a class='link' href='../users'>Select From List of Users</a>
<h2>OR</h2>
<a class='link' href="/users/new">Create New User</a>
</div>